bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
BudgedManager/appsettings.Development.json
BudgedManager/bugs.txt
BudgedManager.sln.DotSettings.user
BudgedManager/BudgedManager.sln
BudgedManager/FormFile
BudgedManager/.vs/slnx.sqlite
BudgedManager/.vs/VSWorkspaceState.json
BudgedManager/.vs/BudgedManager/config/applicationhost.config
BudgedManager/.vs/BudgedManager/CopilotIndices/17.14.878.3237/CodeChunks.db
BudgedManager/.vs/BudgedManager/CopilotIndices/17.14.878.3237/SemanticSymbols.db
BudgedManager/.vs/BudgedManager/FileContentIndex/0b165a11-2bb8-4e37-9243-3fd9a3d8db48.vsidx
BudgedManager/.vs/BudgedManager/FileContentIndex/a116d246-bc02-4475-b311-4b539d520227.vsidx
BudgedManager/.vs/BudgedManager/FileContentIndex/b80711da-f06f-4654-a36a-870a9b5d2f6e.vsidx
BudgedManager/.vs/BudgedManager/v17/.wsuo
BudgedManager/.vs/BudgedManager/v17/DocumentLayout.backup.json
BudgedManager/.vs/BudgedManager/v17/DocumentLayout.json
BudgedManager/Migrations/20250530173920_Initial.cs
BudgedManager/Migrations/20250530173920_Initial.Designer.cs
BudgedManager/Migrations/20250625145556_Update1.cs
BudgedManager/Migrations/20250625145556_Update1.Designer.cs
BudgedManager/Migrations/20250701181448_DefaultValue.cs
BudgedManager/Migrations/20250701181448_DefaultValue.Designer.cs
BudgedManager/Migrations/AppDbContextModelSnapshot.cs
