
<br>
<div>
    SelectOption
    <input type="radio" name="Option" id="">
    <input type="radio" name="Option" id="">
</div>
<br>

<div id="ImportInteraction" style="">
    <form action="http://localhost:5062/DataTransfer/Import" method="post" enctype="multipart/form-data">
        <input type="file" name="FormFile" id="FormFile" required>
        <input type="submit">
    </form>
</div>
<br>

<div id="ExportInteraction" style="">
    <form id="ExportForm" method="post">
        <input type="radio" name="type" id="json" value="json">
        <label for="json">JSON</label>
        <br>
        <input type="radio" name="type" id="txt" value="txt">
        <label for="txt">TXT</label>
        <br>
        <input type="radio" name="type" id="xml" value="xml">
        <label for="xml">XML</label>
        <br>
        <button type="submit">Send</button>
    </form>
    <a id="ExportDownloadLink" href="#" download style="display: none;">Download</a>

</div>
<div>
    Expense List Example
    <div style="background-color: gray;">
        <br>
        Amount: {Amount}, Category: {Category}, Date: {Date}, Comment: {Comment} <br><br>
        <input type="checkbox"> Amount: 12, Category: None, Date: 2025-07-26 15:05:00, Comment: Transfer <br>
        <input type="checkbox"> Amount: 12, Category: None, Date: 2025-07-26 15:05:00, Comment: Transfer
    </div>
</div>


<script>
    document.getElementById("ExportForm").addEventListener("submit", function(e){
        e.preventDefault();

        const form = new FormData(this);

        fetch("/DataTransfer/Export",{
            method: "POST",
            body: form
        }).then(response =>{
            if(response.ok){
                console.log("GOOOOOOOD:" + form.get("type"));
                document.getElementById("ExportDownloadLink").href = "/files/export." + form.get("type");
                document.getElementById("ExportDownloadLink").style.display = "block";
            }
        })
    })

</script>