@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="http://localhost:5062/Expense/Create/">Dodaj Wydatek</a><br>
    <a href="http://localhost:5062/Expense/">Pokaż wydatek</a><br>
    <a href="http://localhost:5062/Expense/Summary/">Podsumowanie Wydatków</a><br>
    <a href="http://localhost:5062/Category/">Zarządzanie Kategoriami</a><br>
    <a href="http://localhost:5062/Subscription/">Subskrybcje</a><br>
    <a href="http://localhost:5062/Report/">Raporty</a><br>
    <a href="http://localhost:5062/Expense/test">Import/Export</a><br>
    <a href="http://localhost:5062/Limit/">Powiadomienia i Budżety</a><br>
</div>