@using Azure.Core
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="http://localhost:5062/Expense/Create/">Dodaj Wydatek</a><br>
    <a href="http://localhost:5062/Expense/">Pokaż wydatek</a><br>
    <a href="http://localhost:5062/Expense/Summary/">Podsumowanie Wydatków</a><br>
    <a href="http://localhost:5062/Category/">Zarządzanie Kategoriami</a><br>
    <a href="http://localhost:5062/Expense/History">Historia i Edytowanie Wydatków</a><br>
    <a href="http://localhost:5062/Report/">Raporty</a><br>
    @* todo: CREATE A SPECIAL CLASS AND FUNCTIONALITY *@
    <a href="http://localhost:5062/Category/...">Powiadomienia i Budżety</a><br>
</div>