@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="http://localhost:5062/Expense/Create/">Add Expense</a><br>
    <a href="http://localhost:5062/Expense/">Show Expenses</a><br>
    <a href="http://localhost:5062/Expense/Summary/">Summary Expenses</a><br>
    <a href="http://localhost:5062/Category/">Manage Categories</a><br>
    <a href="http://localhost:5062/Subscription/">Subscriptions</a><br>
    <a href="http://localhost:5062/Report/">Reports</a><br>
    <a href="http://localhost:5062/Expense/test">Import/Export</a><br>
    <a href="http://localhost:5062/Limit/">Notifications and budget</a><br>
</div>